{% extends 'base.html' %} %}

{% block content %}
Welcome to Tweetme

<script>
const xhr = new XMLHttpRequest()
const method = 'GET' // "POST"
const url = "/tweets"
const responseType = 'json'

// set xhr responseType to our const responseType above
// to let it know it has json coming back.
xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
  const serverResponse = xhr.response
  var listedItems = serverResponse.response
  console.log(listedItems)
}
xhr.send()

</script>
{% endblock content %}